table {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    border: solid grey;
}
