<h1 align="center" style="san-sarif">CONNECT FOUR</h1>
<table>
    <tr>
        <th><div class="circle A 0" id="A0"></div></th>
        <th><div class="circle B 0" id="B0"></div></th>
        <th><div class="circle C 0" id="C0"></div></th>
        <th><div class="circle D 0" id="D0"></div></th>
        <th><div class="circle E 0" id="E0"></div></th>
        <th><div class="circle F 0" id="F0"></div></th>
        <th><div class="circle G 0" id="G0"></div></th>
     </tr>
     <tr>
        <th><div class="circle A 1" id="A1"></div></th>
        <th><div class="circle B 1" id="B1"></div></th>
        <th><div class="circle C 1" id="C1"></div></th>
        <th><div class="circle D 1" id="D1"></div></th>
        <th><div class="circle E 1" id="E1"></div></th>
        <th><div class="circle F 1" id="F1"></div></th>
        <th><div class="circle G 1" id="G1"></div></th>
     </tr>
     <tr>
        <th><div class="circle A 2" id="A2"></div></th>
        <th><div class="circle B 2" id="B2"></div></th>
        <th><div class="circle C 2" id="C2"></div></th>
        <th><div class="circle D 2" id="D2"></div></th>
        <th><div class="circle E 2" id="E2"></div></th>
        <th><div class="circle F 2" id="F2"></div></th>
        <th><div class="circle G 2" id="G2"></div></th>
     </tr>
     <tr>
        <th><div class="circle A 3" id="A3"></div></th>
        <th><div class="circle B 3" id="B3"></div></th>
        <th><div class="circle C 3" id="C3"></div></th>
        <th><div class="circle D 3" id="D3"></div></th>
        <th><div class="circle E 3" id="E3"></div></th>
        <th><div class="circle F 3" id="F3"></div></th>
        <th><div class="circle G 3" id="G3"></div></th>
    </tr>
     <tr>
        <th><div class="circle A 4" id="A4"></div></th>
        <th><div class="circle B 4" id="B4"></div></th>
        <th><div class="circle C 4" id="C4"></div></th>
        <th><div class="circle D 4" id="D4"></div></th>
        <th><div class="circle E 4" id="E4"></div></th>
        <th><div class="circle F 4" id="F4"></div></th>
        <th><div class="circle G 4" id="G4"></div></th>

     </tr>
     <tr>
        <th><div class="circle A 5" id="A5"></div></th>
        <th><div class="circle B 5" id="B5"></div></th>
        <th><div class="circle C 5" id="C5"></div></th>
        <th><div class="circle D 5" id="D5"></div></th>
        <th><div class="circle E 5" id="E5"></div></th>
        <th><div class="circle F 5" id="F5"></div></th>
        <th><div class="circle G 5" id="G5"></div></th>
    </tr>
</table>
