<table>
    <tr>
        <th><div class="circle A 0"></div></th>
        <th><div class="circle A 1"></div></th>
        <th><div class="circle A 2"></div></th>
        <th><div class="circle A 3"></div></th>
        <th><div class="circle A 4"></div></th>
        <th><div class="circle A 5"></div></th>
        <th><div class="circle A 6"></div></th>
     </tr>
     <tr>
        <th><div class="circle B 0"></div></th>
        <th><div class="circle B 1"></div></th>
        <th><div class="circle B 2"></div></th>
        <th><div class="circle B 3"></div></th>
        <th><div class="circle B 4"></div></th>
        <th><div class="circle B 5"></div></th>
        <th><div class="circle E 6"></div></th>
     </tr>
     <tr>
        <th><div class="circle C 0"></div></th>
        <th><div class="circle C 1"></div></th>
        <th><div class="circle C 2"></div></th>
        <th><div class="circle C 3"></div></th>
        <th><div class="circle C 4"></div></th>
        <th><div class="circle C 5"></div></th>
        <th><div class="circle E 6"></div></th>
     </tr>
     <tr>
        <th><div class="circle D 0"></div></th>
        <th><div class="circle D 1"></div></th>
        <th><div class="circle D 2"></div></th>
        <th><div class="circle D 3"></div></th>
        <th><div class="circle D 4"></div></th>
        <th><div class="circle D 5"></div></th>
        <th><div class="circle E 6"></div></th>
    </tr>
     <tr>
        <th><div class="circle E 0"></div></th>
        <th><div class="circle E 1"></div></th>
        <th><div class="circle E 2"></div></th>
        <th><div class="circle E 3"></div></th>
        <th><div class="circle E 4"></div></th>
        <th><div class="circle E 5"></div></th>
        <th><div class="circle E 6"></div></th>

     </tr>
     <tr>
        <th><div class="circle F 0"></div></th>
        <th><div class="circle F 1"></div></th>
        <th><div class="circle F 2"></div></th>
        <th><div class="circle F 3"></div></th>
        <th><div class="circle F 4"></div></th>
        <th><div class="circle F 5"></div></th>
        <th><div class="circle F 6"></div></th>
    </tr>
</table>
